## Build
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
artifacts/
*.user
*.userosscache
*.suo
*.cache
*.rsuser
project.lock.json
project.fragment.lock.json

## IDE
.vs/
.idea/
*.DotSettings.user

## NuGet
*.nupkg
**/packages/

## OS
Thumbs.db
Desktop.ini
